*{margin:0}
body {background: #f9f9f9;margin:0;}
#navbar{height: 70px;background: #0bc0d3;border-bottom: 5px #0aa9ba solid;}
#navbar ul {list-style:none;padding:0}
#navbar ul li{float:left;font-family: 'Economica', sans-serif;color:#fff;
font-size: 27px; padding: 19px 20px 20px 20px;}
#navbar ul li:hover{background: #10cbdf;text-shadow: 0px 15px 0px #1fd2e5;border-bottom: 5px #1fe3f8 solid}
#header{background: #393939;border-bottom: 4px #4e4e4e solid}
#header h1 {color: #fff; font-size: 50px; font-family: 'Cookie', cursive;padding: 12px;
text-shadow: 1px 1px 1px #000}
.icons {height: 30px}
.icons ul {list-style:none}
.icons ul li{padding: 10px 0 0 0;float:left;color: #cdcdcd;font-size: 20px}
.icons ul li:hover {color: #727272}


.container {
width: 95%;
margin: 0 auto
}





.post-container {
margin: 10px auto;
-webkit-border-radius: 30px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius: 30px;
-moz-border-radius-bottomleft: 4px;
border-radius: 30px;
border-bottom-left-radius: 4px;

background: #f1f1f1;
background-repeat:no-repeat;
background-position:right;
background-size: 30% 100%;
}

.post-container footer {margin: 5px 0 5px 0;background: #eaeaea;-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px}

.line {
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #e9e9e9; margin: 0 auto
}

.post-container footer:after 
{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}


.post-container footer .post-option-left {float: left}
.post-container footer .post-option-left p  a{
color: #cdcdcd;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none;
text-shadow: 1px 1px 1px #f9f9f9}
.post-container footer .post-option-left p  a:hover{color: #727272}
.post-container footer .post-option-right {float: right; margin-right: 15px}

.post-content {width:70%}
.post-content h1 a{padding:20px 0 0 20px;margin:0;
font-family: 'Economica', sans-serif; font-size: 35px; color: #0aa9ba;text-decoration: none}
.post-content p {padding:10px 10px 0 20px;margin:0;font-family: 'Libre Baskerville', serif;}

.post-options {padding: 0 0 10px 0}